<a href="https://colab.research.google.com/github/pallavi160425/python_projects_practice/blob/main/oops_and_attributes_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
li = [4,4,23,6,6,87]

In [ ]:
li

[4, 4, 23, 6, 6, 87]

In [ ]:
print(type(li))

<class 'list'>

In [ ]:
li.append(100)

In [ ]:
li

[4, 4, 23, 6, 6, 87, 100]

In [ ]:
li.pop()

100

In [ ]:
li

[4, 4, 23, 6, 6, 87]

# oops first problem

In [ ]:
class Dog:

  species = 'mammal'

  def __init__(self,name,age):

    self.name = name

    self.age = age

In [ ]:
dog1  = Dog('Ajju',6)

dog2 = Dog('Robert',10)

print(f'{dog1.name} is {dog1.age} and {dog2.name} is {dog2.age}')

#print("{} is {} and {} is {}".format(dog1.name,dog1.age,dog2.name,dog2.age))

if dog1.species == 'mammal':

  #print("{0} is a {1} !".format(dog1.name,dog1.species))
  print(f'{dog1.name} is a ({dog1.species})')
else:
  print(f'{dog1.name} is not a ({dog1.species})')

Ajju is 6 and Robert is 10
Ajju is a (mammal)

In [ ]:
dog1 = Dog('Sniper',7)
dog4 = Dog('Tommy',9)
dog5 = Dog('Buddy',4)

print("{} is {}, {} is {} and {} is {}".format(dog1.name,dog1.age,dog4.name,dog4.age,dog5.name,dog5.age))

print(f'{dog1.name} is {dog1.age} ,  {dog4.name} is {dog4.age} and {dog5.name} is {dog5.age}')

# find the biggest dog

def biggest_dog(*args):
  return max(args)

Sniper is 7, Tommy is 9 and Buddy is 4
Sniper is 7 ,  Tommy is 9 and Buddy is 4

In [ ]:
print(biggest_dog)

<function biggest_dog at 0x7cc455047600>

In [ ]:
print(biggest_dog(dog1.age,dog4.age,dog5.age))

9

In [ ]:
print("The oldest dog is {} years old".format(biggest_dog(dog1.age,dog4.age,dog5.age)))

The oldest dog is 9 years old

# Python object types

In [ ]:
#objects_types.py

import sys

def function():
  pass
print(type(1))  #integers

print(type("")) #strings

print(type([]))  #lists

print(type({}))  #dictionary

print(type(()))  #tuples

print(type(object)) #types

print(type(function)) #functions

print(type(sys))  #modules

<class 'int'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'type'>
<class 'function'>
<class 'module'>

# Python class keyword(first_objects.py)

In [ ]:
# first_object.py

class First:
  pass

fr = First()

print(type(fr))
print(type(First))

<class '__main__.First'>
<class 'type'>

# Python object initialization

In [ ]:
#object_initialization.py

class Being:

  def __init__(self):

    print("Being is initialization")

Being()

Being is initialization

# Python object attributes

In [ ]:

#attributes.py

class Girl:

  def __init__(self,name):   #ikkada enni positional arguments isthamo anni objects manamu ivvochhu

    self.name = name

girl1 = Girl('pallavi')

girl2 = Girl('deepasri')

print(girl1.name)
print(girl2.name)
#Two types of format strings
#first one
print(f'{girl1.name} and {girl2.name}')
#second one
print("{} and {}".format(girl1.name,girl2.name))

pallavi
deepasri
pallavi and deepasri
pallavi and deepasri

In [ ]:
#attributes_dynamic.py

class Person:

  pass

d = Person()  #ikkada 'd' ane object ki person ki equal chesamu
d.age = 35
d.name = 'ajay'

print(f'{d.name} is {d.age} years old')

print("{} is {} years old".format(d.name,d.age))

ajay is 35 years old
ajay is 35 years old

# Python class attributes

In [ ]:
#class_attribute.py

class Cat:

  species = 'mammal'

  def __init__(self,name,age):

    self.catname = name  # ikkada self. dhaggara manamu emaina ivvochhu
    self.catage = age

cat1 =Cat('Missy',9)  #ikkada name inka age isthamu
cat2 = Cat('Lucky',7)

if Cat.species == 'mammal':  #ikkada cats anevi mammal oo kaadho check cheyyadam
  print(f'{cat1.catname} is a {cat1.species} and {cat2.catname} is a {cat2.species}')

  print(f'{cat1.catname} is a {cat1.species}')

  print(f'{cat2.catname} is a {cat2.species}')

print(Cat.species)
print(cat1.__class__.species)
print(cat2.__class__.species)

print(f'{cat1.catname} is {cat1.catage} and {cat2.catname} is {cat2.catage}')

print("{} is {} years old and {} is {} years old".format(cat1.catname,cat1.catage,cat2.catname,cat2.catage))

Missy is a mammal and Lucky is a mammal
Missy is a mammal
Lucky is a mammal
mammal
mammal
mammal
Missy is 9 and Lucky is 7
Missy is 9 years old and Lucky is 7 years old

# Python methods

In [ ]:
#methods_py

class Circle:

  pi = 3.141592

  def __init__(self,radius=1):

    self.radius = radius
    #self.area = radius*radius*Circle.pi

  def area(self):
    return self.radius*self.radius*Circle.pi

  def setRadius(self,radius):
    self.radius = radius


  def getRadius(self):
    return self.radius

In [ ]:
C = Circle()

C.setRadius(5)

print(C.getRadius())
print(C.area())

print(C.pi)

print("Radius is: ",C.getRadius())
print("Area is: ",C.area())

print("Radius is: {}".format(C.getRadius()))
print("Area is: {}".format(C.area()))

5
78.5398
3.141592
Radius is:  5
Area is:  78.5398
Radius is: 5
Area is: 78.5398

In [ ]:
#Rectangle

class Rectangle:

  def __init__(self,length,breadth,unit_cost=0):

    self.length = length
    self.breadth = breadth
    self.unit_cost = unit_cost

  def get_perimeter(self):
    return 2*(self.length+self.breadth)

  def get_area(self):
    return self.length*self.breadth

  def calculate_cost(self):
    area = self.get_area()
    return area*self.unit_cost

In [ ]:
#breadth = 160 cm, length = 120 cm, 1 cm^2 = 2000

r = Rectangle(120,160,2000)

print(r.get_perimeter())

print(r.get_area())

print(r.calculate_cost())

print("Area of rectangle: %s cm^2 " % (r.get_area()))

print("cost of rectangle field:Rs. %s"%(r.calculate_cost()))

print("the perimeter of the rectangle is {} cm".format(r.get_perimeter()))
print("the area of the rectangle is {} cm^2".format(r.get_area()))
print("the cost of this property is Rs.{} ".format(r.calculate_cost()))

560
19200
38400000
Area of rectangle: 19200 cm^2
cost of rectangle field:Rs. 38400000
the perimeter of the rectangle is 560 cm
the area of the rectangle is 19200 cm^2
the cost of this property is Rs.38400000

In [ ]:
120*160

19200

In [ ]:
19200*2000

38400000

In [57]:
# Square

class Square:

  def __init__(self,length,unit_cost=0):

    self.length = length

    self.unit_cost = unit_cost

    #self.breadth = breadth

  def  get_perimeter(self):

    return 4*(self.length)

  def get_area(self):

    return (self.length * self.length)

  def calculate_cost(self):

    area = self.get_area()

    return area * self.unit_cost

In [61]:
#length = 120, breadth = 160, 1 cm^2 =2000 ---unit_cost

S=Square(120,2000)

S.get_perimeter()

S.get_area()

S.calculate_cost()

print("The perimeter of the square is {}cm".format(S.get_perimeter()))

print("The area of the square is {}cm^2".format(S.get_area()))

print("The cost of this property is Rs.{}".format(S.calculate_cost()))

print("Area of square : %s cm^2 " % (S.get_area()))

print("cost of square field:Rs. %s"%(S.calculate_cost()))

The perimeter of the square is 480cm
The area of the square is 14400cm^2
The cost of this property is Rs.28800000
Area of square : 14400 cm^2
cost of square field:Rs. 28800000

In [62]:
4*120

480

In [63]:
120*120

14400

In [64]:
14400*2000

28800000

# Pension System

In [51]:
#pension system

class Pension_system:

  def __init__(self,gender,age,maritial_status='widow',**rules):

    self.gender = gender

    self.age = age

    self.maritial_status = maritial_status

    self.rules = rules

  def eligibility(self):


    if (self.age > 60):

      return "Eligible for pension"

    elif (self.maritial_status=='widow'):

      return "Eligible for pension"

    elif ('diseased' in self.rules and self.rules['diseased']=='yes'):

      return "Eligible for pension"

    elif ('physically_handicapped' in self.rules and self.rules['physically_handicapped']=='yes'):

      return "Eligible for pension"

    else:

      return "Not eligible for pension"


    def family_status(self):



      #print("Eligible for pension")
    #else:
     # print("Not eligible for pension")

In [49]:
system =Pension_system('male',50,'widow',diseased='no',physically_handicapped='no')

print(system.eligibility())

Eligible for pension

In [56]:
system2 = Pension_system('female', 65)
print(system2.eligibility())

Eligible for pension

In [67]:
system3 = Pension_system('male', 45, 'not widow',diseased = 'no')
print(system3.eligibility())

Not eligible for pension